# Visualizations

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("CleanData/TeamMetrics.csv")
df.head()

,team,AvgValue,AvgFifa,AvgRating,Avg90,AvgGoal,Points,Wins,Draws,Losses,PPG
0,Arsenal15,22.466667,81.199997,7.148000,0.748667,1.841963,71,20,11,7,1.868421
1,Aston Villa15,4.633333,75.666664,6.692000,-1.305333,0.355265,17,3,3,32,0.447368
2,Bournemouth15,3.133333,72.066666,6.767334,-0.537333,0.691051,42,11,9,18,1.105263
3,Chelsea15,27.133333,83.133331,6.909333,0.149333,1.121557,50,12,14,12,1.315789
4,Crystal Palace15,6.600000,75.466667,6.822000,-0.272000,0.817202,42,11,9,18,1.105263